.topbar_wrapper {
    width: 100%;
    margin: auto 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: #6EB648;
}

.img {
    width: 200px;
    height: 50px;
    margin: auto;
}