.wrapper_topbar_children {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.wrppaerTopbarAndChildren {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}